.saying {
  width: 90%;
  margin: 10% 5%;
  padding: 5% 5%;
  background-color: rgb(47, 79, 79);
}

.saying p {
  width: 100%;
  margin: 0;
  font-size: 1.2rem;
  color: rgb(253, 245, 230);
  line-height: 2;
  opacity: 10;
  transition: opacity 0.5s ease-in-out;
}

.saying p span {
  display: flex;
  font-style: italic;
  margin-top: 1rem;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .saying {
    width: 80%;
    margin: 15% 10%;
  }

  .saying p {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 992px) {
  .saying {
    width: 70%;
    margin: 15% 15%;
  }
}

@media only screen and (min-width: 1440px) {
  .saying {
    width: 100%;
    margin: 20% 25%;
  }
}

.saying:hover {
  background-color: rgb(79, 112, 112);
}

.saying:hover p,
.saying:hover p span {
  opacity: 1;
}
