* {
  box-sizing: border-box;
}

div.Calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 39px;
}

div.Calc h1 {
  display: none;
}

div.wrapper {
  width: 24%;
  margin-top: 99px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5px;
}

div.enter-widget {
  grid-column: 1/5;
}

input.input {
  width: 99.8%;
  height: 49px;
  background-color: #a9a9a9;
  color: #fdf5e6;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  text-align: right;
  padding-right: 2%;
}

::placeholder {
  color: #fdf5e6;
  font-weight: bold;
  font-size: 2rem;
  text-align: right;
  padding-right: 0.9%;
}

div.zero-class {
  grid-column: span 2;
}

div.figure-button button,
div.Maths-Widgets button,
div.arithmetic-device-container button,
div.manipulate-button button,
div.period-widget button,
div.rate-widget button {
  width: 99%;
  height: 60px;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid #a9a9a9;
}

div.manipulate-button button {
  background-color: #ffa500;
}
