* {
  box-sizing: border-box;
}

div.Calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 39px;
}

div.wrapper {
  width: 26%;
  margin-top: 99px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: auto;
}

div.input-box {
  grid-column: span 4;
}

input.input,
::placeholder {
  width: 99.99%;
  height: 49px;
  background-color: #848492;
  color: #f0f8ff;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  text-align: right;
  padding-right: 2%;
}

input.input:focus {
  padding-right: 2%;
}

button.nonum {
  grid-column: span 2;
}

.button {
  width: 99.9%;
  height: 49px;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid #848492;
}

.button:hover {
  background-color: #848492;
}

.split,
.product,
.remove,
.plus,
.same {
  background-color: #ee8a39;
}
